html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    flex-direction: column;
}

#repo_search_refresh_container {
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
}

#repo_search_form_container {
    width: 100%;
}

#repo_refresh_container {
    width: 50%;
}

#repos_container {
    width: 50%;
    margin-top: 5%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#repos_detail_container {
    display: flex;
    min-height: 1000px;
}

#repo_release_notes_container {
    width: 50%;
    margin-top: 5%;
    border: 1px solid black;
    padding: 1%;
    min-height: 100px;
}

.repo_entry_container {
    display: flex;
}

.repo_entry {
    display: table;
    border: 1px solid black;
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
    width: 90%;
}

.repo_name_container {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

.repo_time_and_action_container {
    display: table-cell;
    vertical-align: middle;
}

.repo_time_container {
    width: 90%;
}

.repo_remove_container {
    cursor: pointer;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.new_repo {
    background-color: lightgreen;
}

.selected_repo {
    border: 2px solid black;
}
